

/* ===================================================================
 * # about section
 *
 * ------------------------------------------------------------------- */
 .s-about {
    padding-bottom: 2rem;
    background-color: #ffffff;
    position: relative;
  }

  .s-about .section-intro {
    margin-bottom: 3em;
  }
  
  .s-about .right-vert-line {
    background-color: #302c59;
  }
  
  .s-about__section--profile {
    padding-top: 28rem;
    padding-bottom: 4rem;
    min-height: 108rem;
    position: relative;
  }
  
  .s-about__section--profile::before {
    content: "";
    display: block;
    background-color: #b3c2c1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: calc(50% + 12vw);
  }
  
  .s-about__section--profile .row {
    position: relative;
  }
  
  .s-about__section--profile .profile-pic {
    width: 24vw;
    border-radius: 25%;
    position: absolute;
    top: 6rem;
    left: calc(50% + 80px);
  }
  .s-about__section--profile .profile-pic img {
    border-radius: 25%;
  }
  
  

/* ------------------------------------------------------------------- 
 * ## career position
 * ------------------------------------------------------------------- */
.work-positions {
  margin-top: 2rem;
}

.work-positions .column:nth-child(2n + 1) {
  padding-right: 40px;
}

.work-positions .column:nth-child(2n + 2) {
  padding-left: 40px;
}

.position {
  padding-top: 3.6rem;
  padding-bottom: 3.2rem;
  border-top: 1px solid #b3c2c1;
}

.position__header {
  margin-bottom: 4rem;
}

.position__header h6 {
  font-family: "Martel", serif;
  line-height: 2.8rem;
  margin-top: 0;
  margin-bottom: .4rem;
}

.position__header h6 .position__co {
  margin-right: 2rem;
}

.position__header h6 .position__pos {
  display: inline-block;
  font-size: 1.8rem;
  text-transform: none;
  letter-spacing: 0;
}

.position__timeframe {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #7e7e7e;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * about
 * ------------------------------------------------------------------- */
@media screen and (max-width:1200px) {
  .s-about__section--profile::before {
    left: 75%;
  }

  .s-about__section--profile .profile-pic {
    width: 26vw;
    right: 0;
    left: auto;
  }

  .work-positions .column:nth-child(2n + 1) {
    padding-right: 30px;
  }

  .work-positions .column:nth-child(2n + 2) {
    padding-left: 30px;
  }

}

@media screen and (max-width:900px) {
  .work-positions .column:nth-child(n) {
    padding: 0 16px;
  }

  .position {
    padding-right: 8rem;
  }

}

@media screen and (max-width:800px) {
  .s-about__section--profile {
    padding-top: 15rem;
    padding-bottom: 0;
    min-height: 0;
  }

  .s-about__section--profile::before {
    display: none;
  }
  .s-about__section--profile .profile-pic {
    position: relative;
    margin: 0 auto;
    padding-bottom: 3em;
    min-width: 200px;

  }

  .position {
    padding-right: 0;
  }

}

@media screen and (max-width:600px) {
  .work-positions .column:nth-child(n) {
    padding: 0 10px;
  }

}

@media screen and (max-width:400px) {
  .work-positions .column:nth-child(n) {
    padding: 0;
  }

}
