
/* ===================================================================
 * # footer
 *
 * ------------------------------------------------------------------- */
 .s-footer {
    padding-top: 24rem;
    padding-bottom: 8rem;
    background-color: #0b0a15;
    position: relative;
  }
  
  .s-footer .right-vert-line {
    background-color: #03E39B;
  }
  
  .s-footer__bottom {
    font-family: "Gothic A1", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 8rem;
  }
  
  .s-footer .footer-email-us .btn:hover,
  .s-footer .footer-email-us .btn:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
  }
  
  .s-footer .footer-contacts {
    margin-top: 7.2rem;
    margin-left: 8.33333%;
  }
  
  /* ------------------------------------------------------------------- 
   * ## contact block
   * ------------------------------------------------------------------- */
  .footer-contact-block {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.2;
  }
  
  .footer-contact-block a {
    color: #ffffff;
  }
  
  .footer-contact-block a:hover,
  .footer-contact-block a:focus {
    color: #03E39B;
  }
  
  .footer-contact-block__content,
  .footer-contact-block__list li {
    padding: .8rem 0;
  }
  
  .footer-contact-block__list {
    list-style: none;
    margin-top: .4rem;
    margin-left: 0;
  }
  
  .footer-contact-block__list li {
    padding-left: 0;
  }
  
  .footer-contact-block__header {
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
  }
  
  /* ------------------------------------------------------------------- 
   * ## copyright
   * ------------------------------------------------------------------- */
  .ss-copyright {
    z-index: 2;
    position: relative;
  }

  .ss-copyright:hover {
    visibility: visible;
  }
  
  .ss-copyright a {
    color: #ffffff;
  }
  
  .ss-copyright a:hover,
  .ss-copyright a:focus {
    
    color: #03E39B;
  }
  
  .ss-copyright span {
    font-size: 1.5rem;
    display: inline-block;
  }
  
  .ss-copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 .8rem 0 1rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  .ss-copyright span:last-child::after {
    display: none;
  }
  
  /* ------------------------------------------------------------------- 
   * ## go top
   * ------------------------------------------------------------------- */
  .ss-go-top {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: fixed;
    bottom: 8.4rem;
    right: 8rem;
  }
  
  .ss-go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;
    background-color: #000000;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
  }
  
  .ss-go-top a:hover,
  .ss-go-top a:focus {
    background-color: #03E39B;
  }
  
  .ss-go-top svg {
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
  }
  
  .ss-go-top svg path {
    fill: #ffffff;
  }
  
  .ss-go-top.link-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  /* ------------------------------------------------------------------- 
   * responsive:
   * footer
   * ------------------------------------------------------------------- */
  @media screen and (max-width:1200px) {
    .ss-go-top {
      right: 6rem;
    }
  
    .ss-go-top a {
      height: 6rem;
      width: 6rem;
    }
  
  }
  
  @media screen and (max-width:900px) {
    .s-footer .footer-contacts {
      margin-left: 0;
    }
  
    .s-footer__main .column {
      -ms-flex: 0 0 100%;
      -webkit-box-flex: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
  
  }
  
  @media screen and (max-width:800px) {
    .s-footer {
      padding-top: 20rem;
    }
  
    .ss-copyright {
      padding-right: 10rem;
    }
  
    .ss-go-top {
      right: 3.6rem;
    }
  
    .ss-go-top a {
      height: 5.2rem;
      width: 5.2rem;
    }
  
  }
  
  @media screen and (max-width:600px) {
    .ss-copyright {
      padding-right: 8rem;
    }
  
    .ss-copyright span {
      display: block;
    }
  
    .ss-copyright span::after {
      display: none;
    }
  
    .ss-go-top {
      right: 2.4rem;
      bottom: 4rem;
    }
  
  }
  